applications:
 - name: apps
   namespace: argocd
   additionalLabels: {}
   additionalAnnotations: {}
   finalizers:
   - resources-finalizer.argocd.argoproj.io
   project: apps
   source:
     repoURL: ${repo_url}
     targetRevision: ${target_revision}
     path: ${path}/apps
     directory:
       recurse: false
   destination:
     server: https://kubernetes.default.svc
     namespace: argocd # must match the namespace of your ArgoCD instance
   syncPolicy:
     automated:
       prune: true
       selfHeal: true
   ignoreDifferences:
   - group: apps
     kind: Deployment
     jsonPointers:
     - /spec/replicas
 - name: infra
   namespace: argocd
   additionalLabels: {}
   additionalAnnotations: {}
   finalizers:
   - resources-finalizer.argocd.argoproj.io
   project: apps
   source:
     repoURL: ${repo_url}
     targetRevision: ${target_revision}
     path: ${path}/infra
     directory:
       recurse: false
     helm:
       values: |
         host: "example.com"
   destination:
     server: https://kubernetes.default.svc
     namespace: argocd # must match the namespace of your ArgoCD instance
   syncPolicy:
     automated:
       prune: true
       selfHeal: true
   ignoreDifferences:
   - group: apps
     kind: Deployment
     jsonPointers:
     - /spec/replicas